/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;1,500;1,600&display=swap');
*{
    font-family: 'Ibarra Real Nova', serif;
    padding: 0;
    margin: 0;
}
.header{
    margin-left: 50%;
    margin-top: 30px;
    color: #000;
}
.imgbox{
    text-align: center;
    padding: 20px;

}
.imgbox img{
    width: 1000px;
    height: auto;
    border: 5px solid black;
    border-radius: 50px;
}
.main-list{
    text-align: center;
    text-decoration: none;
}
.main-list ul li{

    font-size: 22px;
    color: #000;
}
.highlight{
    background-color: yellow;
}